---
import Banner from '../components/Banner';
import Carousel from '../components/Carousel';
import Circle from '../components/Circle';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
import Header from '../components/menu/Header';
import Layout from '../layouts/Layout.astro';
import LenisScroll from '../components/LenisScroll';
import Nav from '../components/nav/Nav.jsx';
import ScrollSpinner from '../components/ScrollSpinner';
import '../styles/global.css';
import Loading from '../components/Loading';
---

<Layout title="Gelato Gelato">
  <LenisScroll client:only />
  <Loading client:load />
  <main id="home-page" class="overflow-hidden mb-[85vh]">
    <div class="flex flex-col gap-y-44 lg:gap-y-52 spartan bg-white">
      <Nav client:load />
      <ScrollSpinner client:load />
      <Header client:load landing />
      <Banner />
      <Carousel />
      <Circle client:visible />
    </div>
    <Contact client:visible />
    <Footer client:visible />
  </main>
</Layout>
