---
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/nav/Nav.jsx';
import GelatoMenu from '../../components/menu/GelatoMenu.jsx';
import Contact from '../../components/Contact.jsx';
import '../../styles/global.css';
---

<Layout title="Menu">
  <main class="spartan">
    <Nav client:load />
    <GelatoMenu client:visible />
    <Contact />
  </main>
</Layout>
