---
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/nav/Nav.jsx';
import Reservation from './components/Reservation.jsx';
import Loading from '../../components/Loading.jsx';

import '../../styles/global.css';
---

<Layout title="reservation">
  <Loading client:load />
  <Nav client:load />
  <main class="spartan">
    <Reservation client:only />
  </main>
</Layout>
